body {
  margin: 0;
  background-color: #FFFEFB;
  font-family: 'Lunasima', sans-serif;
}

.container {
  position: relative;
  width: 1728px;
  height: 6596px;
  overflow: hidden;
  margin: 0 auto;
}

.section {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header,
.footer {
  width: 1776px;
  height: 122px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: 'Bakbak One', sans-serif;
}

h1.section-title {
  font-size: 70px;
  font-family: 'Bakbak One', sans-serif;
  color: black;
}

h2 {
  font-size: 30px;
  font-family: 'Changa One', sans-serif;
  font-weight: 400;
  color: white;
}

p {
  font-size: 20px;
  line-height: 30px;
  color: black;
}

img {
  border: 1px solid black;
  object-fit: cover;
}

.outline-line {
  border-top: 3px solid black;
  width: 1473.45px;
  margin: 20px auto;
}

.menu-button, .home-button {
  width: 156px;
  height: 72.58px;
  background: transparent;
  border: 5px solid white;
  color: white;
  font-family: 'Changa One', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-box {
  background: #2B7E50;
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 55px;
  border: 1px solid black;
  width: 100%;
}

.project-title-box {
  background: #BA4009;
}

.activity-title-box {
  background: #165F97;
}

.contact-info {
  font-size: 35px;
  font-weight: 700;
  color: black;
  display: flex;
  align-items: center;
  gap: 15px;
}

.quote {
  color: white;
  font-size: 40px;
  letter-spacing: 3.2px;
  font-family: 'Carrois Gothic', sans-serif;
}

.logo-title {
  font-family: 'Fugaz One', sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
}

.more-button {
  width: 181px;
  height: 60px;
  border: 3px solid black;
  font-size: 30px;
  color: black;
  font-family: 'Changa One', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.research-bg,
.activity-bg {
  background-color: #D0DFEC;
}
